PassengerEnabled On
PassengerAppRoot /home/t/tochkatbr/laserzlat.tochkatbr.beget.tech/public_html/HelloDjango/HelloDjango
PassengerPython /home/t/tochkatbr/laserzlat.tochkatbr.beget.tech/public_html/venv/bin/python
