{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}  <!-- Загружаем необходимые теги -->
{% block content %}
    {% if page.image %}
        {% image page.image width-800 as my_image %}  <!-- Используем длину ширины -->
    {% endif %}
    {% include 'mypages/partial/catalog_section.html' %}
    {% include 'mypages/partial/best_seller_section.html' %}
    {% include 'mypages/partial/stocks_section.html' %}
    {% include 'mypages/partial/contacts_section.html' %}
{% endblock %}
