{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}  <!-- Загружаем необходимые теги -->
{% block content %}
    {% include 'mypages/partial/carousel_section.html' %}
    {% include 'mypages/partial/catalog_section.html' %}
    <section class="product-items-section-5">
        <div class="container">
            <h2 class="product-items-title">менажницы, доски и другое</h2>
            <div class="row product-items-top-row justify-content-between">
                {% for product in manej %}
                    <div class="col-lg-2 col-md-4 col-6 prod-card product-item {% if forloop.counter > 10 %}d-none{% endif %}">
                        <!-- Скрываем все продукты после 10-го -->
                        <div class="product-items">
                            {% if product.images.first %}
                                <img src="{{ product.images.first.image.url }}" class="img-fluid" alt="{{ product.title }}" />
                            {% endif %}
                            <h4 class="mb-4">
                                <!-- Ссылка на страницу товара -->
                                {{ product.title }}
                            </h4>
                            <div class="row">
                                <div class="col-6">
                                    <span class="carousel-price">{{ product.price }} р.</span>
                                </div>
                                <div class="col-6 text-end">
                                    <!-- Оборачиваем кнопку в ссылку -->
                                    <a href="{% pageurl product %}" class="btn carousel-button-buy">КУПИТЬ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>Нет товаров для отображения.</p>
                {% endfor %}
            </div>
            <div class="text-center mt-4">
                <button id="show-more-button" class="btn btn-show-more">
                    Показать больше <span class="chevron">&#x25BC;</span>
                </button>
            </div>

        </div>
    </section>
    {% include 'mypages/partial/best_seller_section.html' %}

    {% include 'mypages/partial/stocks_section.html' %}
    {% include 'mypages/partial/contacts_section.html' %}
    <script>

    </script>
{% endblock %}
