{% extends "base.html" %}
{% load wagtailimages_tags %}
{% block content %}
    {% if page.image %}
        {% image page.image width-800 as my_image %}  <!-- Используем длину ширины -->
    {% endif %}
    <section class="info-section">
        <div class="container-fluid info-container" style="background-image: url('{{ my_image.url }}');">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="info-title">{{ page.title }}</h2>
                    <button type="button" class="btn btn-primary info-button">Заказать</button>
                </div>
            </div>
        </div>
    </section>

<section class="product-items-section-5">
    <div class="container">
        <h2 class="product-items-title">С этим товаром покупают</h2>
        <div class="row product-items-top-row">
            {% for product in products %}
                <div class="col-md-4 col-12">
                    <div class="product-items">
                        {% if product.images.first %}
                            <img src="{{ product.images.first.image.url }}" class="img-fluid" alt="{{ product.title }}" />
                        {% endif %}
                        <h4 class="mb-4">{{ product.title }}</h4>
                        <div class="row">
                            <div class="col-6">
                                <span class="carousel-price">{{ product.price }} р.</span>
                            </div>
                            <div class="col-6 text-end">
                                <button type="button" class="btn carousel-button-buy">КУПИТЬ</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>Нет товаров для отображения.</p>
            {% endfor %}
        </div>
    </div>
</section>


{% include 'mypages/partial/contacts_section.html' %}
{% endblock %}