{% extends "base.html" %}
{% load static %}
{% block title %}Главная{% endblock %}

{% block content %}
<section class="carousel-section">
  <div class="container carousel-container">
    <div class="row carousel-row">
      <div id="carouselExampleCaptions" class="carousel slide custom-carousel" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/Карсуель.png' %}" class="d-block w-100 carousel-img" alt="..." />
            <div class="carousel-caption d-md-block">
              <div class="row">
                <div class="col-md-7 col-12"></div>
                <div class="col-md-5 col-12 text-center">
                  <h1 class="carousel-title-one">
                    менажницы<br />и разделочные <br />доски
                  </h1>
                  <button type="button" class="btn btn-primary carousel-button">
                    Заказать
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/Карсуель.png' %}" class="d-block w-100 carousel-img" alt="..." />
            <div class="carousel-caption d-md-block">
              <div class="row">
                <div class="col-md-7 col-12"></div>
                <div class="col-md-5 col-12 text-center">
                  <h1 class="carousel-title-one">
                    менажницы<br />и разделочные <br />доски
                  </h1>
                  <button type="button" class="btn btn-primary carousel-button">
                    Заказать
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon custom-left-arrow" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon custom-right-arrow" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>
<section class="catalog-section">
      <div class="container catalog-section-container">
        <h2 class="catalog-section-title">Каталог</h2>
        <div class="row section-catalog-row">
          <div class="col-md-3 dosky-col col-12">
            <div class="dosky">
              <span class="dosky-hover-text">
                Сервировочные и разделочные доски. Менажницы из массива
                дерева. Подставки для яиц и другое
              </span>
              <div class="dosk-button d-flex align-items-center justify-content-center text-center">
                <h3>
                  Доски,<br />
                  менажницы <br />
                  и другое
                </h3>
              </div>
            </div>
          </div>
          <div class="col-md-9 col-12">
            <div class="row catalog-section-top-row">
              <div class="col-md-6 pazly-col col-12">
                <div class="pazly">
                  <span class="pazly-hover-text">пазлы с уникальным<br />дизайном и формой деталей
                  </span>
                  <div class="pazly-button d-flex align-items-center justify-content-center text-center">
                    <h3>ПАЗЛЫ</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="potstavka">
                  <span class="potstavka-hover-text">приспособления для <br />
                    мобильных устройств
                  </span>
                  <div class="potstavka-button d-flex align-items-center justify-content-center text-center">
                    <h3>подставки для телефонов</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="row panno-row">
              <div class="col-md-4 panno-col col-12">
                <div class="panno">
                  <span class="panno-hover-text">украшение<br />интерьера для<br />вашего дома из<br />эко
                    материалов</span>
                  <div class="panno-button d-flex align-items-center justify-content-center text-center">
                    <h3>панно</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-4 upakovka-col col-12">
                <div class="upakovka">
                  <span class="upakovka-hover-text">Коробки и корзинки<br />для упаковки подарков<br />на
                    любой случай</span>
                  <div class="upakovka-button d-flex align-items-center justify-content-center text-center">
                    <h3>упаковка</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="rukodelie">
                  <span class="rukodelie-hover-text">Коробки и корзинки<br />для упаковки подарков<br />на
                    любой случай</span>
                  <div class="rukodelie-button d-flex align-items-center justify-content-center text-center">
                    <h3>рукоделие</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<section class="best-sellers-section">
    <div class="container best-sellers-container">
        <h2 class="best-sellers-title">Хиты продаж</h2>
        <div class="row best-sellers-row">
            <div class="owl-carousel">
                <div class="item">
                    <img src="{{ '/static/img/1.png' }}" class="best-sellers-img-serdze" alt="МЕНАЖНИЦА 'СЕРДЦЕ'" />
                    <h4 class="mb-4">МЕНАЖНИЦА “СЕРДЦЕ”</h4>
                    <div class="row">
                        <div class="col-6">
                            <span class="carousel-price">2 000 руб.</span>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn carousel-button-buy">
                                КУПИТЬ
                            </button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ '/static/img/2.png' }}" class="best-sellers-img" alt="ПАЗЛ ФРАКТАЛЬНЫЙ 'МАНДАРИНКИ'" />
                    <h4>ПАЗЛ ФРАКТАЛЬНЫЙ “МАНДАРИНКИ”</h4>
                    <div class="row">
                        <div class="col-6">
                            <span class="carousel-price">2 000 руб.</span>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn carousel-button-buy">
                                КУПИТЬ
                            </button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ '/static/img/3.png' }}" class="best-sellers-img-parnaya" alt="РАЗДЕЛОЧНАЯ ДОСКА 'ПАРНАЯ'" />
                    <h4>РАЗДЕЛОЧНАЯ ДОСКА “ПАРНАЯ”</h4>
                    <div class="row">
                        <div class="col-6">
                            <span class="carousel-price">2 000 руб.</span>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn carousel-button-buy">
                                КУПИТЬ
                            </button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ '/static/img/4.png' }}" class="best-sellers-img" alt="ПАННО МНОГОСЛОЙНОЕ 'ЛОСЬ' 650х850" />
                    <h4>ПАННО МНОГОСЛОЙНОЕ “ЛОСЬ” 650х850</h4>
                    <div class="row">
                        <div class="col-6">
                            <span class="carousel-price">2 000 руб.</span>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn carousel-button-buy">
                                КУПИТЬ
                            </button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ '/static/img/5.png' }}" class="best-sellers-img" alt="ПОДСТАВКА ДЛЯ ЧАШКИ И ТЕЛЕФОНА 'КОФЕМАНИЯ'" />
                    <h4>ПОДСТАВКА ДЛЯ ЧАШКИ И ТЕЛЕФОНА “КОФЕМАНИЯ”</h4>
                    <div class="row">
                        <div class="col-6">
                            <span class="carousel-price">2 000 руб.</span>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn carousel-button-buy">
                                КУПИТЬ
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="stocks-section">
    <div class="container">
        <h2 class="stocks-title">акции</h2>
    </div>
    <div class="container stocks-container">
        <div class="row stocks-row">
            <div class="col-md-8 col-12">
                <div class="row stocks-top-row">
                    <div class="col-12">
                        <h2>Весь ноябрь<br />скидка на разделочные доски</h2>
                    </div>
                </div>
                <div class="row stocks-mid-row">
                    <div class="col-12">
                        <span class="stocks-text">
                            Здесь описание акции — например при покупке комплекта из
                            трех досок скидка 10% <br />
                            и так далее. Ниже ссылка на товар/раздел
                        </span>
                    </div>
                </div>
                <div class="row stocks-bottom-row">
                    <div class="col-12 col-md">
                        <div class="stocks-input-1">
                            <input class="form-control stocks-form-control-1" type="text" placeholder="Ваше Имя"
                                aria-label="default input example" />
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="stocks-input-2">
                            <input class="form-control stocks-form-control-2" type="text" placeholder="Номер телефона"
                                aria-label="default input example" />
                        </div>
                    </div>
                    <div class="col-12 col-md d-flex justify-content-center align-items-center">
                        <div class="form-check stocks-form-check d-flex align-items-center">
                            <input class="form-check-input stocks-form-check-input me-2" type="checkbox" value=""
                                id="flexCheckDefault" />
                            <label class="form-check-label stocks-form-text" for="flexCheckDefault">
                                Согласен на обработку
                                <span class="stocks-span">персональных данных</span>
                            </label>
                        </div>
                    </div>

                    <div class="col-12 col-md d-flex justify-content-center align-items-center">
                        <button type="button" class="btn btn-primary stocks-button">
                            Заказать
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="stocks-wrapper">
                    <div class="stocks-yellow-square"></div>
                    <img src="{{ '/static/img/stocks-image.png' }}" class="stocks-img" alt="Акции изображение" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-us-section">
    <div class="container about-us-container">
        <h2 class="about-us-title">о нас</h2>
        <div class="row about-us-row">
            <div class="col-md-5 about-us-video-col">
                <div class="about-us-video-zaglushka">
                    <video id="aboutUsVideo" width="100%" height="100%">
                        <source src="{{ '/static/video/random-video.mp4' }}" type="video/mp4" />
                        Ваш браузер не поддерживает видео.
                    </video>
                    <div class="play" id="playButton">
                        <img src="{{ '/static/img/play.svg' }}" class="play-img" alt="Play" width="49" height="49" />
                    </div>
                </div>
            </div>
            <div class="col-md-7 my-auto about-us-text-col">
                <p class="about-us-text">
                    Наша компания — это не просто производство, а настоящая
                    мастерская, где каждое изделие<br />становится произведением
                    искусства. Мы подходим к работе с душой и вниманием, чтобы<br />каждая
                    деталь отвечала самым высоким стандартам качества.
                    <br />
                    <br />
                    Мы используем только высококачественную древесину ясеня, дарящую
                    нашим изделиям <br />
                    прочность и стильный внешний вид. Благодаря собственному
                    производству мы можем <br />
                    контролировать каждый этап создания наших изделий и
                    гарантировать их качество и <br />
                    экологичность. Мы используем современные технологии УФ-печати и
                    лазерной гравировки, <br />
                    чтобы превращать простые вещи в уникальные и долговечные
                    изделия.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="reviews-section">
    <div class="container reviews-container">
        <h2 class="reviews-title text-left">Отзывы</h2>

        <!-- Top Row -->
        <div class="row reviews-top-row">
            <div class="col-md-4 col-12">
                <div class="reviews-video-zaglushka-1">
                    <video id="reviewsVideo1" width="100%" height="100%">
                        <source src="{{ '/static/video/random-video.mp4' }}" type="video/mp4" />
                        Ваш браузер не поддерживает видео.
                    </video>
                    <div class="play" id="playButton1">
                        <img src="{{ '/static/img/play.svg' }}" class="play-img" alt="Play" width="49" height="49" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="reviews-video-zaglushka-1">
                    <video id="reviewsVideo2" width="100%" height="100%">
                        <source src="{{ '/static/video/random-video.mp4' }}" type="video/mp4" />
                        Ваш браузер не поддерживает видео.
                    </video>
                    <div class="play" id="playButton2">
                        <img src="{{ '/static/img/play.svg' }}" class="play-img" alt="Play" width="49" height="49" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="row align-items-center reviews-right-row">
                    <div class="col-md-7 col-12">
                        <div class="reviews-stars">
                            <!-- SVG звезды -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="69" height="13" viewBox="0 0 69 13" fill="none">
                                <path d="M6.5 0L7.95934 4.49139H12.6819L8.86126 7.26722L10.3206 11.7586L6.5 8.98278L2.6794 11.7586L4.13874 7.26722L0.318133 4.49139H5.04066L6.5 0Z" fill="#CE8A37" />
                                <!-- Другие звезды -->
                            </svg>
                        </div>
                        <p class="reviews-text-1">
                            Заказывала к Новому году на подарки несколько подставок с
                            надписью...
                        </p>
                        <span class="reviews-name-1">Анастасия Волкова</span>
                    </div>
                    <div class="col-md-5 col-12 d-flex justify-content-end">
                        <div class="reviews-pfp-1"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom Row -->
        <div class="row reviews-bottom-row">
            <div class="col-md-8 col-12">
                <div class="row reviews-right-row align-items-center">
                    <div class="col-md-9">
                        <div class="reviews-stars-bottom">
                            <!-- SVG звезды -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="69" height="13" viewBox="0 0 69 13" fill="none">
                                <path d="M6.5 0L7.95934 4.49139H12.6819L8.86126 7.26722L10.3206 11.7586L6.5 8.98278L2.6794 11.7586L4.13874 7.26722L0.318133 4.49139H5.04066L6.5 0Z" fill="#CE8A37" />
                                <!-- Другие звезды -->
                            </svg>
                        </div>
                        <p class="reviews-text-2">
                            Недавно приобрела в LazerZlat деревянную менажницу и
                            несколько разделочных досок...
                        </p>
                        <span class="reviews-name-1">Ирина Андреева</span>
                    </div>
                    <div class="col-md-3">
                        <div class="reviews-pfp-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 d-flex flex-column align-items-end">
                <div class="reviews-video-zaglushka-2 mb-3">
                    <video id="reviewsVideo3" width="100%" height="100%">
                        <source src="{{ '/static/video/random-video.mp4' }}" type="video/mp4" />
                        Ваш браузер не поддерживает видео.
                    </video>
                    <div class="play" id="playButton3">
                        <img src="{{ '/static/img/play.svg' }}" class="play-img" alt="Play" width="49" height="49" />
                    </div>
                </div>
                <button type="button" class="btn reviews-button">
                    Больше отзывов о нас
                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="11" viewBox="0 0 6 11" fill="none" class="ms-2">
                        <path d="M1 9.86962L5 5.43481L1 1" stroke="white" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="contacts-section">
    <div class="container contacts-container">
        <h2 class="contacts-title">контакты</h2>
        <div class="row contacts-row">
            <div class="col-md-8 map-col mb-4">
                <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/11202/zlatoust/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Златоуст</a><a href="https://yandex.ru/maps/11202/zlatoust/house/ulitsa_svobody_8/YUAYcARkSE0DQFtvfX15dXxnbA==/?ll=59.634184%2C55.184048&utm_medium=mapframe&utm_source=maps&z=16" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Свободы, 8 на карте Златоуста — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/?ll=59.634184%2C55.184048&mode=whatshere&whatshere%5Bpoint%5D=59.634184%2C55.184048&whatshere%5Bzoom%5D=17&z=16" width="856" height="250" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
            </div>
            <div class="col-md-4">
                <span class="contacts-mini-title"> LazerZlat </span>

                <div class="contacts-box-2">
                    <img src="{{ '/static/img/phone-img.png' }}" class="contacts-phone-png" alt="Телефон" />
                    <span class="contacts-text"> +7 951 444 00 85 </span>
                </div>

                <div class="contacts-box-2">
                    <img src="{{ '/static/img/mail.png' }}" class="contacts-mail-png" alt="Email" />
                    <span class="contacts-text"> lazerzlat@yandex.ru </span>
                </div>

                <div class="contacts-box-2">
                    <img src="{{ '/static/img/map-pin.png' }}" class="contacts-mail-png" alt="Адрес" />
                    <span class="contacts-text">
                        Челяб. область, г. Златоуст, ул. Свободы 8
                    </span>
                </div>

                <div class="contacts-box-2">
                    <img src="{{ '/static/img/clock.png' }}" class="contacts-mail-png" alt="Время работы" />
                    <span class="contacts-text"> Пн-пт: 9:00 — 18:00 </span>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
