{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}
<section>
    <div class="container">
        <div class="row tovar-description">
            <div class="col-1">
                <!-- Галерея изображений товара -->
                <div class="image-gallery d-flex flex-column">
                    {% for image in page.images.all %}
                        <div class="gallery-item" onclick="changeMainImage('{{ image.image.url }}')">
                            <img src="{{ image.image.url }}"
                                 class="tovars-card-mini-img"
                                 alt="Изображение {{ page.title }}">
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-4 col-9">
                <!-- Основное изображение -->
                <img id="main-image" src="{% if page.images.first %}{{ page.images.first.image.url }}{% endif %}" class="tovars-card-img" alt="{{ page.title }}">
            </div>

            <div class="col-7">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tovars-card-title">{{ page.title }}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-6">
                        <span class="description-button">Описание</span>
                        <div class="tovars-card-line"></div>
                    </div>
                    <div class="col-md-9 col-6">
                        <span class="description-button">Характеристики</span>
                        <div class="tovars-card-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="tovars-card-text">{{ page.description|safe }}</p>
                    </div>
                </div>
                <div class="row tovars-card-bottom-row">
                    <div class="col-md-4 col-12 ">
                        <span class="tovars-card-price">{{ page.price }} Р</span>
                    </div>
                    <div class="col-md-4 col-12 d-flex flex-column align-items-start align-items-md-end justify-content-end">
                        <div class="quantity-control quantity-control-1 d-flex align-items-center">
                            <button onclick="decreaseQuantity()">−</button>
                            <input type="text" id="quantity" value="1" readonly>
                            <button onclick="increaseQuantity()">+</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 d-flex flex-column align-items-end justify-content-end">
                        <button type="button" class="btn btn-primary tovars-card-button">В корзину</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'mypages/partial/best_seller_section.html' %}
{% include 'mypages/partial/stocks_section.html' %}
{% include 'mypages/partial/contacts_section.html' %}


<style>
.

</style>
{% endblock %}