{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-1">
                <!-- Галерея изображений товара -->
                <div class="image-gallery d-flex flex-column">
                    {% for image in page.images.all %}
                        <div class="gallery-item mb-2" onclick="changeMainImage('{{ image.image.url }}')">
                            <img src="{{ image.image.url }}"
                                 class="tovars-card-mini-img"
                                 alt="Изображение {{ page.title }}">
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-4 col-9">
                <!-- Основное изображение -->
                <img id="main-image" src="{% if page.images.first %}{{ page.images.first.image.url }}{% endif %}" class="tovars-card-img" alt="{{ page.title }}">
            </div>

            <div class="col-7">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tovars-card-title">{{ page.title }}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-6">
                        <span class="description-button">Описание</span>
                        <div class="tovars-card-line"></div>
                    </div>
                    <div class="col-md-9 col-6">
                        <span class="description-button">Характеристики</span>
                        <div class="tovars-card-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="tovars-card-text">{{ page.description|safe }}</p>
                    </div>
                </div>
                <div class="row tovars-card-bottom-row">
                    <div class="col-md-4 col-12 ">
                        <span class="tovars-card-price">{{ page.price }} Р</span>
                    </div>
                    <div class="col-md-4 col-12 d-flex flex-column align-items-start align-items-md-end justify-content-end">
                        <div class="quantity-control quantity-control-1 d-flex align-items-center">
                            <button onclick="decreaseQuantity()">−</button>
                            <input type="text" id="quantity" value="1" readonly>
                            <button onclick="increaseQuantity()">+</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 d-flex flex-column align-items-end justify-content-end">
                        <button type="button" class="btn btn-primary tovars-card-button">В корзину</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
function changeMainImage(imageUrl) {
    document.getElementById('main-image').src = imageUrl; // Изменяем src у основного изображения
}

// Скрипты для управления количеством товара
const unitPrice = 2200;
function updateTotalPrice(quantity) {
    const totalPrice = unitPrice * quantity;
    document.getElementById("totalPrice").innerText = `${totalPrice.toLocaleString()} р.`;
}

function increaseQuantity() {
    let quantityInput = document.getElementById("quantity");
    let quantity = parseInt(quantityInput.value, 10);
    quantity += 1;
    quantityInput.value = quantity;
    updateTotalPrice(quantity);
}

function decreaseQuantity() {
    let quantityInput = document.getElementById("quantity");
    let quantity = parseInt(quantityInput.value, 10);
    if (quantity > 1) {
        quantity -= 1;
        quantityInput.value = quantity;
        updateTotalPrice(quantity);
    }
}
</script>

<style>
.image-gallery {
    height: 100%; /* Высота галереи */
    display: flex;
    flex-direction: column; /* Вертикальное выравнивание миниатюр */
    justify-content: space-between; /* Увеличиваем пространство между верхней и нижней миниатюрами */
}

.gallery-item {
    flex: 1; /* Каждое изображение занимает равное пространство */
    margin: 0; /* Убираем отступ, чтобы миниатюры были равномерные */
}

.tovars-card-mini-img {
    width: 100%; /* Полная ширина для миниатюр */
    height: auto; /* Пропорциональная высота */
}

.tovars-card-img {
    width: 100%; /* Полная ширина для основного изображения */
    height: auto; /* Пропорциональная высота */
}
</style>
{% endblock %}