{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}
<section>
    <div class="container">
        <div class="row tovar-description">
            <div class="col-1">
                <!-- Галерея изображений товара -->
                <div class="image-gallery d-flex flex-column">
                    {% for image in page.images.all %}
                        <div class="gallery-item" onclick="changeMainImage('{{ image.image.url }}')">
                            <img src="{{ image.image.url }}"
                                 class="tovars-card-mini-img"
                                 alt="Изображение {{ page.title }}">
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-4 col-9">
                <!-- Основное изображение -->
                <img id="main-image" src="{% if page.images.first %}{{ page.images.first.image.url }}{% endif %}" class="tovars-card-img" alt="{{ page.title }}">
            </div>

            <div class="col-7">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tovars-card-title">{{ page.title }}</h2>
                    </div>
                </div>
                <div class="row">
                    <!-- Табы -->
                    <ul class="nav nav-tabs custom-tabs d-flex" id="productTab" role="tablist">
                        <li class="nav-item-tab flex-grow-1 text-center" role="presentation">
                            <a class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">
                                Описание
                            </a>
                        </li>
                        <li class="nav-item-tab flex-grow-1 text-center" role="presentation">
                            <a class="nav-link" id="specifications-tab" data-bs-toggle="tab" data-bs-target="#specifications" type="button" role="tab" aria-controls="specifications" aria-selected="false">
                                Характеристики
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content custom-tab-content mt-3" id="productTabContent">
                        <!-- Контент вкладки "Описание" -->
                        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                            <p class="tovars-card-text">{{ page.description|safe }}</p>
                        </div>
                        <!-- Контент вкладки "Характеристики" -->
                        <div class="tab-pane fade" id="specifications" role="tabpanel" aria-labelledby="specifications-tab">
                            <p class="tovars-card-text">{{ page.specifications|safe }}</p>
                        </div>
                    </div>
                </div>

                <div class="row tovars-card-bottom-row">
                    <div class="col-md-4 col-12 ">
                        <span class="tovars-card-price">{{ page.price }} Р</span>
                    </div>
                    <div class="col-md-4 col-12 d-flex flex-column align-items-start align-items-md-end justify-content-end">
                        <div class="quantity-control quantity-control-1 d-flex align-items-center">
                            <button onclick="decreaseQuantity()">−</button>
                            <input type="text" id="quantity" value="1" readonly>
                            <button onclick="increaseQuantity()">+</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 d-flex flex-column align-items-end justify-content-end">
                        <button type="button" class="btn btn-primary tovars-card-button">В корзину</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'mypages/partial/best_seller_section.html' %}
{% include 'mypages/partial/stocks_section.html' %}
{% include 'mypages/partial/contacts_section.html' %}

<style>
/* Стили для табов */
.custom-tabs {
    display: flex;
    justify-content: flex-start; /* Выравнивание табов в строку */
    border-bottom: 2px solid #e6e6e6; /* Серый разделитель */
    margin-bottom: 15px;
    list-style: none;
    padding: 0;
}

.custom-tabs .nav-item {
    flex-grow: 1; /* Делает вкладки одинаковой ширины */
    text-align: center; /* Выравнивание текста по центру */
    background-color: None !important; /* Фон вкладок */
}


.custom-tabs .nav-link {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 0; /* Убираем отступы между табами */
    padding: 10px 15px; /* Добавляем отступы для кликабельности */
    border: none; /* Убираем стандартные границы Bootstrap */
    border-bottom: 1px solid #CE8A37;

    text-transform: uppercase;

    transition: all 0.3s ease;

    color: #CE8A37;
    font-family: Arsenal;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 12px */
}

.custom-tabs .nav-link.active {
    color: #708759;
    font-family: Arsenal;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 12px */
    border-color: None; /* Подчеркивание активной вкладки */
    border-radius: 0; /* Убираем закругление углов */
    border-bottom: 1px solid #708759;
    background-color: transparent;
}

.custom-tab-content {
    font-size: 16px;
    line-height: 1.5;
    color: #444; /* Основной цвет текста */
}

.custom-tabs .nav-link:hover {
    color: #555; /* Цвет текста при наведении */
}
</style>
{% endblock %}
