{% load static wagtailimages_tags %}
<section class="reviews-section">
    <div class="container reviews-container">
        <h2 class="reviews-title text-left">Отзывы</h2>
        <div class="row">
            {% for review in reviews %}
            <div class="col-md-4 col-12 mb-4">
                <div class="review-item">
                    {% if review.video %}
                    <!-- Если есть видео, отображаем его -->
                    <div class="video-wrapper">
                        <video width="100%" height="100%" controls>
                            <source src="{{ review.video }}" type="video/mp4">
                            Ваш браузер не поддерживает видео.
                        </video>
                    </div>
                    {% elif review.photo %}
                    <!-- Если есть фото, отображаем его -->
                    {% image review.photo fill-300x300 %}
                    {% endif %}
                    <div class="review-content">
                        <!-- Остальной контент отзыва -->
                        <div class="reviews-stars">
                            {% for i in "12345" %}
                            {% if forloop.counter <= review.rating %} <!-- SVG заполненной звезды -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="#CE8A37">
                                    <!-- Ваш SVG код заполненной звезды -->
                                </svg>
                                {% else %}
                                <!-- SVG пустой звезды -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="#E0E0E0">
                                    <!-- Ваш SVG код пустой звезды -->
                                </svg>
                                {% endif %}
                                {% endfor %}
                        </div>
                        <p class="reviews-text">{{ review.text }}</p>
                        <span class="reviews-name">{{ review.name }}</span>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>Отзывов пока нет.</p>
            {% endfor %}
        </div>
    </div>
</section>