<section class="reviews-section">
    <div class="container reviews-container">
        <h2 class="reviews-title text-left">Отзывы</h2>

        <!-- Top Row -->
        <div class="row reviews-top-row">
            <div class="col-md-4 col-12">
                <div class="reviews-video-zaglushka-1">
                    <video id="reviewsVideo1" width="100%" height="100%">
                        <source src="{{ '/static/video/random-video.mp4' }}" type="video/mp4" />
                        Ваш браузер не поддерживает видео.
                    </video>
                    <div class="play" id="playButton1">
                        <img src="{{ '/static/img/play.svg' }}" class="play-img" alt="Play" width="49" height="49" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="reviews-video-zaglushka-1">
                    <video id="reviewsVideo2" width="100%" height="100%">
                        <source src="{{ '/static/video/random-video.mp4' }}" type="video/mp4" />
                        Ваш браузер не поддерживает видео.
                    </video>
                    <div class="play" id="playButton2">
                        <img src="{{ '/static/img/play.svg' }}" class="play-img" alt="Play" width="49" height="49" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="row align-items-center reviews-right-row">
                    <div class="col-md-7 col-12">
                        <div class="reviews-stars">
                            <!-- SVG звезды -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="69" height="13" viewBox="0 0 69 13" fill="none">
                                <path d="M6.5 0L7.95934 4.49139H12.6819L8.86126 7.26722L10.3206 11.7586L6.5 8.98278L2.6794 11.7586L4.13874 7.26722L0.318133 4.49139H5.04066L6.5 0Z" fill="#CE8A37" />
                                <!-- Другие звезды -->
                            </svg>
                        </div>
                        <p class="reviews-text-1">
                            Заказывала к Новому году на подарки несколько подставок с
                            надписью...
                        </p>
                        <span class="reviews-name-1">Анастасия Волкова</span>
                    </div>
                    <div class="col-md-5 col-12 d-flex justify-content-end">
                        <div class="reviews-pfp-1"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom Row -->
        <div class="row reviews-bottom-row">
            <div class="col-md-8 col-12">
                <div class="row reviews-right-row align-items-center">
                    <div class="col-md-9">
                        <div class="reviews-stars-bottom">
                            <!-- SVG звезды -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="69" height="13" viewBox="0 0 69 13" fill="none">
                                <path d="M6.5 0L7.95934 4.49139H12.6819L8.86126 7.26722L10.3206 11.7586L6.5 8.98278L2.6794 11.7586L4.13874 7.26722L0.318133 4.49139H5.04066L6.5 0Z" fill="#CE8A37" />
                                <!-- Другие звезды -->
                            </svg>
                        </div>
                        <p class="reviews-text-2">
                            Недавно приобрела в LazerZlat деревянную менажницу и
                            несколько разделочных досок...
                        </p>
                        <span class="reviews-name-1">Ирина Андреева</span>
                    </div>
                    <div class="col-md-3">
                        <div class="reviews-pfp-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 d-flex flex-column align-items-end">
                <div class="reviews-video-zaglushka-2 mb-3">
                    <video id="reviewsVideo3" width="100%" height="100%">
                        <source src="{{ '/static/video/random-video.mp4' }}" type="video/mp4" />
                        Ваш браузер не поддерживает видео.
                    </video>
                    <div class="play" id="playButton3">
                        <img src="{{ '/static/img/play.svg' }}" class="play-img" alt="Play" width="49" height="49" />
                    </div>
                </div>
                <button type="button" class="btn reviews-button">
                    Больше отзывов о нас
                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="11" viewBox="0 0 6 11" fill="none" class="ms-2">
                        <path d="M1 9.86962L5 5.43481L1 1" stroke="white" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>